html {
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

a,
a:visited {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;

}

.background {
    border-radius: 12px;
    background: rgb(1, 70, 254);
    width: 100%;
    padding: 12px 24px 12px 24px;
    display: block;
}

img {
    width: 100%;
    margin: auto;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: clamp(18px, 5.8vw, 60px);
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
}

p {
    color: rgba(42, 43, 47, 0.8);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1%;
    text-align: center;
}


main {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 80px;
}

button {
    border-radius: 12px;
    background: rgb(1, 70, 254);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1%;
    padding: 20px 24px 20px 24px;
    max-width: 366px;
    margin: 0 auto;
    width: 100%;
}



.header_wrapper {
    max-width: 1168px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
}

.logo {
    max-width: 127px;
    width: 100%;
}

nav {
    display: flex;
}

nav a,
nav a:visited {

    color: rgb(37, 37, 37);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.list_wrapper {
    display: flex;
    gap: 100px;
}

.list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.account {
    display: flex;
    align-items: center;
    gap: 24px;
}

.account button {
    background: none;
    align-items: center;
    display: flex;
    color: rgb(102, 102, 102);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;

}



.account button::before {
    content: url(../img/profile\ 1.svg);
    padding: 9px;
}



.main_header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 40px;
}

.text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.text p {
    max-width: 700px;
}

.main_content {
    padding: 64px 100px 64px 100px;
    ;
    gap: 70px;
    display: flex;
    flex-direction: column;
}

.main_content_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.main_content_list_block {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    height: 422px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
}

.list_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.for_travel {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 70px 100px 0px 100px;
}

.for_travel button {
    margin-top: 56px;
}

.product {
    gap: 32px;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.slide {
    display: flex;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;

    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
    padding: 42px;
    width: 100%;
    gap: 10px;
}



.list button {
    padding: 16px 32px 16px 32px;
    font-size: 18px;
    line-height: 100%;
    margin-top: 0;
}

.slide1 img {
    max-width: 507px;
    width: 50%;
}

.slide2 img {
    width: 50%;
}
.slide3 img {
    width: 50%;
}
.slide ul {
    padding-left: 20px;
}

.slide li {
    color: rgba(42, 43, 47, 0.9);
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1%;
    text-align: left;
    list-style-type: disc;
}
.slide1 {
    z-index: 3;
    position: relative;
}

.slide1 li {
    font-size: clamp(8px, 1.1vw, 18px);
}

.slide2 {
    z-index: 2;
    position: absolute;
    top: 60px;
    width: 84%;
    height: 90%;
}

.slide2 li {
    font-size: clamp(8px, 1.1vw, 16px);
}

.slide3 {
    z-index: 1;
    position: absolute;
    top: 75px;
    width: 78%;
    height: 91%;

}



.slide3 li {
    font-size: clamp(8px, 0.8vw, 14px);

}

.about_slide {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 40%;
    overflow: hidden;
}

.about_slide h2 {
    font-size: clamp(18px, 3.8vw, 60px);
    text-align: left;
}

.slide_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 3s;

}



@keyframes move {
    0% {
        top: 0;
    }

    50% {
        top: -180px;
        transform: rotateX(90deg);
       
    }
    75%{
         z-index: 1;
         width: 75%;
    }

    100% {
        top: 75px;
    }
}

@keyframes move2 {
    0% {
        top: 60px;
    }

    50% {
        top: 75px;
        transform: rotateX(-65deg);
    }
    75%{
        z-index: 3;
    }

    100% {
        top: 0;
        width: 100%;
    }
}

#slide1 {
    

    /* display: none; */
}



.help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 100px 70px 100px;
    gap: 70px;
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.block_wrapper {
    display: flex;
    gap: 16px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 295px;
    gap: 14px;
}

.block_img {
    width: 100%;
}